[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esults/

project.lock.json
project.fragment.lock.json
artifacts/
publish/
*.azuresecrets.json
aspnetcore-browser-refresh.js

*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/repositories.config
ffw.pubxml

.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userquery

.idea/
*.sln.iml
_ReSharper.Caches/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

node_modules/
jspm_packages/
bower_components/

.env
.env.*
!.env.example
*.dev.secrets.json
appsettings.Development.json

dist/
build/
.cache/
.parcel-cache
.eslintcache
.stylelintcache
.next/
out/
.docusaurus/

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
desktop.ini

tmp/
temp/
.husky/_/
